# Node
node_modules/

# Sublime project
Afr.sublime-workspace

# Configuration
config/config.json

# Logs
logs/*

# Build
public/assets/css/
public/assets/js/
public/assets/img/

# Compass
.sass-cache/
