@import "modules/btn/variables";
@mixin afr-btn {
    .btn {
        @include transition-property(box-shadow);
        @include transition-duration(100ms);
        @include transition-timing-function(ease-in-out);
        @include background-image(linear-gradient('top', color_stops(#eee, darken(#eee, 15%))));
        @include border-radius(5px);
        @include text-shadow(rgba(255, 255, 255, 0.5) 0 1px 0);
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid darken(#eee, 50%);
        color: #222;

        &:hover {
            @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 5px inset);
        }

        &:active {
            @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 10px inset);
            background: #bbb;
            color: #000;
        }
    }

    .btn--selected {
        @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 10px inset);
        background: #bbb;
        color: #000;

        &:hover {
            @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 10px inset);
        }
    }
}
