// .btn
$btn-padding: 6px 12px !default;
$btn-border-radius: 5px !default;
$btn-color: #222 !default;
$btn-background-color: #eee !default;
$btn-border-color: darken($btn-background-color, 50%) !default;
$btn-background-gradient: color_stops($btn-background-color, darken($btn-background-color, 15%)) !default;
$btn-transition-duration: 100ms !default;

// .btn:hover
$btn-box-shadow-over: rgba(0, 0, 0, 0.5) 0 0 5px inset !default;

// .btn:active
$btn-color-down: #000 !default;
$btn-background-color-down: #bbb !default;
$btn-box-shadow-down: rgba(0, 0, 0, 0.5) 0 0 10px inset !default;

// .btn--selected
$btn--selected-color: $btn-color-down !default;
$btn--selected-box-shadow: $btn-box-shadow-over !default;
$btn--selected-background-color: $btn-background-color-down !default;

// .btn--selected:hover
$btn--selected-box-shadow-over: $btn--selected-box-shadow !default;
