<!doctype html>
<html lang="en" ng-app="afrApp">
<head>
    <meta charset="UTF-8">
    <title>Auckland for rent</title>
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="RegionCtrl">
    <div id="wrap">
        <header>
            <nav>
                <ul>
                    <li ng-repeat="region in regions"><a href="#" ng-click="select(region)" ng-class="getClass(region)">{{ region.name }}</a></li>
                </ul>
            </nav>
        </header>
        <section ng-controller="SuburbCtrl">
            <select
                ng-model="selectedSuburb"
                ng-options="suburb.name for suburb in suburbs">
            </select>
        </section>
        <footer>
            <a href="/" id="logo"><img src="/assets/img/logo.png" alt="Auckland For Rent" /></a>
        </footer>
    </div>
    <script src="/assets/js/afr.js"></script>
</body>
</html>
